body {
  background: #121212;
  color: white;
  font-family: Arial;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

#chat {
  height: 300px;
  overflow-y: auto;
  border: 1px solid gray;
  margin: 10px;
}
